@import './base.css';

#app {
  height: 200vh;
  width: 100vw;
}

#bottom,
#top {
  height: 0;
  width: 100vw;
}

#projects {
  background-color: var(--secondary-color-background);
}

.content {
  display: flex;
  height: 100vh;
}
