@import './base.css';
@import './pulse.css';

#app {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

#bottom,
#top {
  height: 0;
  /* width: 100vw; */
}

#projects {
  background-color: var(--secondary-color-background);
}

.content {
  display: flex;
  height: 100vh;
}
